<h1> To do list </h1>
<p> Bem-vindo ao maior lista de tarefas online </p>

<h3> Tarefas </h3>
<ul>
  <% @task.each do |task| %>
    <li><%= task.title %></li>
    <li><%= task.description %></li>
  <% end %>
</ul>
